<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pranav.apps.amazing.rxoperators">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Custom.CustomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Connectable.Connect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Connectable.RefCountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Connectable.ReplayConnectableObservable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".CreatingObserver.CreateAndRangeOperators">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".CreatingObserver.DeferAndJustOperators">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".CreatingObserver.FromOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".CreatingObserver.IntervalOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".CreatingObserver.RepeatAndTimerOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Combining.CombineLatest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Filtering.SampleAndThrottleFirstOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Filtering.SkipAndTakeOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Filtering.FirstOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Filtering.ElementAtAndFilterOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Filtering.DebounceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Aggregate.ConcatAndCountOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Utility.DelayOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".Utility.DoOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="pranav.apps.amazing.rxoperators.category" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>